.layout {
  width: 100%;
  min-height: 100vh;

  .header {
    background: #fff;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 25px !important;
    .trigger {
      font-size: 18px;
      line-height: 64px;
      cursor: pointer;
      transition: color .3s;
    }
    .trigger:hover {
      color: #108ee9;
    }
    a {
      text-decoration: none;
    }
  }
}