html, body, #root {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding:0;
  margin:0;
  width: 100vw;
}

.fill-x {
  width: 100% !important;
}