.accounts-list {
  .account-item {
    display: flex;
    flex-direction: column;
    margin: 24px 0;

    .name {
      font-size: 26px;
      font-weight: 700;
    }
    
    .transaction-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 30%;

      .name {
        font-size: 14px;
        color: cornflowerblue;
      }
    }

    .credit {
      margin-left: 24;
    }
  }
  
  .separator {
    margin: 16px 0;
    height: 1px;
    background: #ccc;
  }
}